<h1>questions#edit</h1>
				
<%= simple_form_for(@question) do |f| %>

	<div class="form-group">
		<%= f.input :title, 
								class: 'form-control', 
								label: "Title of question page", 
								hint: "If empty, not title will appear" %> 
	</div>

	<div class="form-group">
		<%= f.input :moderation,
								as: :rich_text_area,
								class: 'form-control', 
								label: "Moderation before actual question", 
								hint: "If empty, no moderation will appear" %> 
	</div>

	<div class="form-group">
		<%= f.input :content, 
								class: 'form-control', 
								label: "Question content", 
								hint: "This field is required" %> 
	</div>
	
	<div class="form-group">
		<%= f.input :question_type, 
								class: 'form-control', 
								label: "Question type",
								collection: Question::QUESTION_TYPES,
								as: :select,
								hint: "Default is 'string', i.e. text field with limited number of characters" %>
	</div>

	<div class="form-group">
		<%= f.input :hint, 
								class: 'form-control', 
								label: "Hint",
								as: :select,
								hint: "Any hint you will give will appear here" %>
	</div>

	<div class="form-group">
		<%= f.input :order, 
								class: 'form-control', 
								label: "Order", 
								hint: "Danger! Dependancy with wizard logic",
								as: :integer %>
	</div>

	<div class="form-group">
		<%= f.input :identifier, 
								class: 'form-control', 
								label: "Identifier", 
								hint: "This is to label the question" %>
	</div>

	<div class="form-group">
		<%= f.input :input_hidden, 
								class: 'form-control', 
								label: "Would you like to hide the input field", 
								hint: "This need to be checked if you want to show text only",
								as: :boolean %>
	</div>
	
	<!-- Error messages -->
	<% if @question.errors.any? %>
		<div class="errors-container">
			<ul>
			  <% @question.errors.full_messages.each do |message| %>
			    <li><%= message %></li>
			  <% end %>
			</ul>
		</div>
	<% end %>

	<br>
	<%= link_to "Back to questions", questions_path(anchor: "question-#{@question.id}"), class: "btn btn-primary" %>
	<%= f.button :submit, "Update Question", class: 'btn btn-secondary' %>

<% end %>