<!-- <h1>questions#show</h1> -->
<br>
<%# if @question.question_type == 'multiple_choice' %>
	<%# @question.answer_options.each do |option| %>
		<%#= simple_form_for [@question, @answer] do | f | %>
			<%#= f.button :answer_option_id, content: option.id %>
		  <%#= f.submit %>
		<%# end %>	
	<%# end %>
<%# elsif  @question.type == 'regular' %>

	<%= simple_form_for [@submissio, @question, @answer] do | f | %>
		
		<!-- Title -->
		<% if @question.title.present? %>
			<h1><%= @question.title %></h1>
		<% end %>

		<!-- Moderation -->
		<% if @question.moderation.present? %>
			<p><%= @question.moderation %></p>
		<% end %>

		<!-- Input -->
		<% if @question.input_hidden %>
			<% @answer.content = "" %>
		<% else %>
			<%= f.input :content,
						as: @question.question_type?,		
						label: @question.content,
						hint: "hint hint..."
						%>
		<% end %>
		
		<!-- Errors -->
		<% if @answer.errors.any? %>
			<% @answer.errors.full_messages.each do |error| %>
			<p><%= error %></p>
			<% end %>
		<% end %>

		<!-- Submit Button -->

		<!-- Previous Button -->
		<% if @question.previous_question.present? %>
			<%= link_to "Previous", submissio_question_path(@submissio, @previous_question), class: "btn btn-secondary" %>
		<% end %>

		<!-- Next Button -->
		<% if @question.next_question.nil? %>
	  	<%= f.submit "Finish", class: "btn btn-success" %>
	  <% else %>
	  	<%= f.submit "Next", class: "btn btn-secondary" %>
	 	<% end %>

	<% end %>
<%# end %>
