<h1>submissios#index</h1>
<ul>
	<% @submissios.each do | submissio | %>
		<li>
			Id: <%= submissio.id %> - 
			<%= submissio.description_short %> |
			<%= link_to "show", submissio_path(submissio) %> |
			<%= link_to "delete", submissio_path(submissio), 
					method: :delete,
				  data: { confirm: "Are you sure you want to delete #{submissio.description_short}?" } #,
				  # class: "btn" do %#>
						# <i class="fas fa-trash-alt"></i>
					# <% end %#> 
					%>
			</li>
	<% end %>
</ul>
<br>

<h4>Create a new submissio</h4>
<%= simple_form_for(@submissio) do |f| %>
  <div class="form-group">
  <%= f.input :description_short, label: "Name/short description for your new submissio" %>
  </div>
  <%= f.button :submit, class: "btn btn-secondary" %>
<% end %>
